<div class="container">
	<h3>Project List</h3>
	<hr />
	<div class="row">
		<div class="col-4">
			<input class="input" type="text" placeholder="  Project number, name, custom name" />
		</div>
		<div class="col-2">
			<select id="" class="custom-dropdown form-control">
				<option value="">Project status</option>
				<option value="">2</option>
				<option value="">3</option>
				<option value="">4</option>
			</select>
		</div>
		<div class="col">
			<button class="btn btn-primary">Search Project</button>
		</div>
		<div class="col">
			<button class="btn btn-light">Reset search</button>
		</div>
	</div>
	<br />
	<table class="table table-bordered">
		<thead style="height: 32px">
			<tr>
				<th scope="col"></th>
				<th scope="col">Number</th>
				<th scope="col">Name</th>
				<th scope="col">Status</th>
				<th scope="col">Customer</th>
				<th scope="col">Start Date</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let project of loadedProjects; let i = index">
				<td>
					<span class="checkbox" for="checkbox">
						<input type="checkbox" aria-label="Checkbox" id="checkbox"
					/></span>
				</td>
				<td>{{ project.projectNumber }}</td>
				<td>{{ project.name }}</td>
				<td>{{ project.status }}</td>
				<td>{{ project.customer }}</td>
				<td>{{ project.startDate | date: 'dd.MM.yyyy' }}</td>
				<td>
					<i class="fa fa-trash-o" style="color: red" aria-hidden="true" [routerLink]=""></i>
				</td>
			</tr>
		</tbody>
	</table>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-end">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
