<div class="container">
	<h3>Project List</h3>
	<hr />
	<div class="row">
		<div class="col-4">
			<input class="input" type="text" placeholder="  Project number, name, custom name" />
		</div>
		<div class="col-2">
			<select id="" class="custom-dropdown form-control">
				<option value="">Project status</option>
				<option value="">2</option>
				<option value="">3</option>
				<option value="">4</option>
			</select>
		</div>
		<div class="col">
			<button class="btn btn-primary">Search Project</button>
		</div>
		<div class="col">
			<button class="btn btn-light">Reset search</button>
		</div>
	</div>
	<br />
	<form [formGroup]="projectForm" (ngSubmit)="onDelete()">
		<table class="table table-bordered">
			<thead style="height: 32px; text-align: center">
				<tr>
					<th scope="col"></th>
					<th scope="col">Number</th>
					<th scope="col">Name</th>
					<th scope="col">Status</th>
					<th scope="col">Customer</th>
					<th scope="col">Start Date</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr formArrayName="selectedList" *ngFor="let project of controls; let i = index">
					<td>
						<span class="checkbox" for="checkbox" *ngIf="projects[i].status === 'new'">
							<input type="checkbox" aria-label="Checkbox" id="checkbox" [formControlName]="i"
						/></span>
					</td>
					<td style="text-align: center; color: blue">
						<a routerLink="/projects/{{ projects[i].projectNumber }}">{{ projects[i].projectNumber }}</a>
					</td>
					<td>{{ projects[i].name }}</td>
					<td style="text-align: center">{{ projects[i].status }}</td>
					<td>{{ projects[i].customer }}</td>
					<td style="text-align: center">{{ projects[i].startDate | date: 'dd.MM.yyyy' }}</td>
					<td style="text-align: center">
						<i
							*ngIf="projects[i].status === 'new'"
							class="fa fa-trash-o"
							style="color: red"
							aria-hidden="true"
						></i>
					</td>
				</tr>
				<tr class="table-light" *ngIf="selectedNum > 0">
					<td colspan="7">
						<div class="d-flex justify-content-between">
							<span class="selected-items-area align-center">{{ selectedNum }} items selected</span>
							<button
								type="button"
								class="delete-selected-area btn btn-sm btn-link"
								(click)="open(content)"
							>
								delete selected items
								<i class="fa fa-trash-o" style="color: red" aria-hidden="true"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Confirm message from this web page</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true"> × </span>
			</button>
		</div>
		<div class="modal-body">Are you sure you want to delete these items?</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="modal.close('Yes click')">Yes</button>
			<button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
		</div>
	</ng-template>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-end">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
