table.table-bordered {
	border: 1.5px solid rgb(204, 201, 201);
	color: #666;
	background-color: white;
}
table.table-bordered > thead > tr > th {
	border: 1.5px solid rgb(204, 201, 201);
	height: 32px;
}
table.table-bordered > tbody > tr > td {
	border: 1.5px solid rgb(204, 201, 201);
}

.input {
	height: 30px;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
}

.custom-dropdown {
	padding: 5px;
	height: 30px;
	width: 100%;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
	font-size: 14px;
	background-color: white;
}

.selected-items-area {
	color: rgb(17, 156, 221);
	font-weight: 600;
}

.delete-selected-area {
	color: red;
	font-weight: 600;
}
