<div class="container">
	<div class="row">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 col">
			<img src="../../assets/img/error.png" height="250px" />
		</div>
		<div class="col-lg-7 col-md-5 col-xs-12 col-sm-12 col" style="flex-direction: column; align-self: center">
			<h4>Unexpected error occurred.</h4>
			<h4>{{ errorMessage }}</h4>
			<h4>Please <span style="color: red">contact your administrator</span></h4>
			<br />
			<h4>or <a routerLink="/projects">Back to search project</a></h4>
		</div>
	</div>
</div>
