<h3 *ngIf="editMode === false">New Project</h3>
<h3 *ngIf="editMode === true">Edit Project</h3>
<hr />
<div class="container">
	<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
		<div class="row row-margin">
			<div class="col-md-2">
				<label for="projectNumber">Project Number <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-9">
				<input
					class="input"
					type="number"
					id="projectNumber"
					formControlName="projectNumber"
					[readonly]="editMode"
				/>
				<span
					*ngIf="!projectForm.get('projectNumber').valid && projectForm.get('projectNumber').touched"
					class="help-block"
					><span *ngIf="projectForm.get('projectNumber').errors['required']"
						>Project number is required!</span
					>
					<span *ngIf="projectForm.get('projectNumber').errors['pattern']"
						>Project number must be greater than 0!</span
					>
					<span *ngIf="projectForm.get('projectNumber').errors['existNumber']"
						>The project number already existed. Please select a different project number</span
					></span
				>
			</div>
		</div>
		<div class="row row-margin">
			<div class="col-md-2">
				<label for="projectName">Project name <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<input class="input long-input" type="text" id="projectName" formControlName="name" />
				<span *ngIf="!projectForm.get('name').valid && projectForm.get('name').touched" class="help-block">
					Project name is required!</span
				>
			</div>
		</div>
		<div class="row row-margin">
			<div class="col-md-2">
				<label for="customer">Customer <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<input class="input long-input" type="text" id="customer" formControlName="customer" />
				<span
					*ngIf="!projectForm.get('customer').valid && projectForm.get('customer').touched"
					class="help-block"
				>
					Customer is required!</span
				>
			</div>
		</div>
		<div class="row row-margin">
			<div class="col-md-2">
				<label for="group">Group <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<select id="group" class="custom-dropdown form-control" formControlName="groupId">
					<option *ngFor="let group of groups" value="{{ group.ID }}">{{ group.ID }}</option>
				</select>
			</div>
		</div>
		<div class="row row-margin">
			<div class="col-md-2">
				<label for="members">Members </label>
			</div>
			<div class="col-md-10">
				<input class="input long-input" type="text" id="members" formControlName="members" />
				<span
					*ngIf="
						!projectForm.get('members').valid &&
						projectForm.get('members').touched &&
						notExistMembers !== ''
					"
					class="help-block"
				>
					The following visas do not exist: {{ notExistMembers }}
				</span>
			</div>
		</div>
		<div class="row row-margin">
			<div class="col-md-2">
				<label for="status">Status <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<select id="status" class="custom-dropdown form-control" formControlName="status">
					<option value="new">New</option>
					<option value="pla">Planned</option>
					<option value="inp">In Progress</option>
					<option value="fin">Finished</option>
				</select>
			</div>
		</div>
		<div class="row row-margin">
			<div class="col-lg-2 col-md-2 col col-sm-6">
				<label for="startDate">Start date <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-lg-3 col-md-9 col col-sm-6">
				<input class="input-date" type="date" id="startDate" formControlName="startDate" />
			</div>
			<div class="col-lg-2 col-md-2 col col-sm-6">
				<label for="endDate">End date </label>
			</div>
			<div class="col-lg-3 col-md-9 col col-sm-6">
				<input class="input-date" type="date" id="endDate" formControlName="endDate" />
			</div>
		</div>
		<div *ngIf="errorDate.isError" class="help-block">
			{{ errorDate.errorMessage }}
		</div>
		<hr />
		<div class="row" style="margin-top: 38px">
			<div class="col-md-4"></div>
			<div class="col-md-7">
				<button class="btn btn-light">Cancel</button>
				<button
					type="submit"
					class="btn btn-success"
					[disabled]="!projectForm.valid || errorDate.isError"
					*ngIf="editMode === true"
				>
					Save
				</button>
				<button
					class="btn btn-primary"
					type="submit"
					[disabled]="!projectForm.valid"
					*ngIf="editMode === false"
				>
					Create Project
				</button>
			</div>
		</div>
	</form>
</div>
