<h3>New Project</h3>
<hr />
<!-- <div class="alert alert-danger" *ngIf="!projectForm.valid && projectForm.touched">
	<p>Please enter all the mandatory fields (*)</p>
</div> -->
<div class="container">
	<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-2">
				<label for="projectNumber">Project Number <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-9">
				<input class="input" type="number" id="projectNumber" formControlName="projectNumber" />
				<br />
				<span
					*ngIf="!projectForm.get('projectNumber').valid && projectForm.get('projectNumber').touched"
					class="help-block"
					><span *ngIf="projectForm.get('projectNumber').errors['required']"
						>Project number is required!</span
					>
					<span *ngIf="projectForm.get('projectNumber').errors['existNumber']"
						>The project number already existed. Please select a different project number</span
					></span
				>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="projectName">Project name <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<input class="input long-input" type="text" id="projectName" formControlName="name" />
				<br />
				<span *ngIf="!projectForm.get('name').valid && projectForm.get('name').touched" class="help-block">
					Project name is required!</span
				>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="customer">Customer <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<input class="input long-input" type="text" id="customer" formControlName="customer" />
				<br />
				<span
					*ngIf="!projectForm.get('customer').valid && projectForm.get('customer').touched"
					class="help-block"
				>
					Customer is required!</span
				>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="group">Group <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<select id="group" class="custom-dropdown form-control" formControlName="groupId">
					<option *ngFor="let group of groups" value="{{ group.id }}">{{ group.id }}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="members">Members </label>
			</div>
			<div class="col-md-10">
				<input class="input long-input" type="text" id="members" formControlName="members" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="status">Status <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-md-10">
				<select id="status" class="custom-dropdown form-control" formControlName="status">
					<option value="new">New</option>
					<option value="aab">Saab</option>
					<option value="mers">Mercedes</option>
					<option value="aud">Audi</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2 col col-sm-6">
				<label for="startDate">Start date <span class="compulsory-attribute">*</span></label>
			</div>
			<div class="col-lg-3 col-md-9 col col-sm-6">
				<input class="input-date" type="date" id="startDate" formControlName="startDate" />
			</div>
			<div class="col-lg-2 col-md-2 col col-sm-6">
				<label for="endDate">End date </label>
			</div>
			<div class="col-lg-3 col-md-9 col col-sm-6">
				<input class="input-date" type="date" id="endDate" formControlName="endDate" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<button class="btn btn-light">Cancel</button>
				<button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid">Create Project</button>
			</div>
		</div>
	</form>
</div>
<hr />
